/* Base */
html, body {
	height: 100%;
}

div {
	display: block;
}

body {
	font-family: "Times New Roman", Times, serif;
	font-size: 16px;
	font-weight: normal;
	line-height: normal;
	letter-spacing: normal;
	margin: 0;
	padding: 0;
	border: 0;
}

.wrapper {
    position: relative;
	margin: auto;
	width: 700px;
	padding: 20px 0 0 220px;
}

/* Notifications */
.notifications {
	height: 700px;
	width: 200px;
	position: absolute;
	overflow: hidden;
	top: 20px;
	left: 0px;
	margin-bottom: 10px;
}

.notify-gradient {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	background-color: white;
	background: -webkit-linear-gradient(
		rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%
	);
	background: linear-gradient(
		rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%
	);
	filter: alpha(
		Opacity=0, FinishOpacity=100, Style=1, StartX=0, StartY=0, FinishX=0, FinishY=500
	);
}

.notification {
	margin-bottom: 10px;
}